{{#if _disableAccessibilityState}}
{{else}}
<div class="accessibility-state">
	{{#if _isComplete}}
	<span class="aria-label a11y-ignore-focus prevent-default" id="buttons-aria-label-complete" role="region" tabindex="0">{{a11y_normalize title}} {{_globals._accessibility._ariaLabels.complete}} {{#if _isQuestionType}}{{#if _canShowFeedback}}{{#if _isCorrect}}{{_globals._accessibility._ariaLabels.correct}}{{else}}{{_globals._accessibility._ariaLabels.incorrect}}{{/if}}{{/if}}{{/if}}</span>
	{{else}}
	<span class="aria-label a11y-ignore-focus prevent-default" id="buttons-aria-label-incomplete" role="region" tabindex="0">{{a11y_normalize title}} {{_globals._accessibility._ariaLabels.incomplete}}</span>
	{{/if}}
</div>
{{/if}}
