{{! .article-container: Adapt will place the pages articles inside this class}}
<div class="page-inner article-container" role="main" aria-label="{{_accessibility._ariaLabels.page}}">

    {{#if _theme._pageHeader._isEnabled}}

    	<div class="page-header">
    		<div class="page-header-inner clearfix">

    			<div class="page-header-content">
    				<div class="page-header-content-inner">

    					{{#if displayTitle}}
					    <div class="page-header-title">
							<div class="page-title-inner h1" tabindex="0" role="heading" aria-level="1">
					            {{{displayTitle}}}
					        </div>
					    </div>
					    {{/if}}

					    {{#if body}}
					    <div class="page-header-body">
					        <div class="page-header-body-inner">
					            {{{a11y_text body}}}
					        </div>
					    </div>
					    {{/if}}

					    {{#if instruction}}
					    <div class="page-header-instruction">
					        <div class="page-header-instruction-inner">
					            {{{a11y_text instruction}}}
					        </div>
					    </div>
					    {{/if}}

    				</div>
    			</div>

    			{{#if _theme._pageHeader._showScrollButton}}
    			<a href="#" class="page-header-scroll-button icon icon-controls-down" role="button" aria-label="{{_accessibility._ariaLabels.scroll}}"></a>
    			{{/if}}

    		</div>
    	</div>

    {{else}}

	    {{#if displayTitle}}
	    <div class="page-title">
	        <div class="page-title-inner h1" tabindex="0" role="heading" aria-level="2">
	            {{{displayTitle}}}
	        </div>
	    </div>
	    {{/if}}

    {{/if}}

    
</div>
