<div class="page-inner article-container">
	{{{a11y_aria_label _accessibility._ariaLabels.page}}}

	{{#if _theme._pageHeader._isEnabled}}
	<div class="page-header{{#if _theme._pageHeader._showScrollButton}} has-scroll{{/if}}">
		<div class="page-header-inner clearfix">

			<div class="page-header-content">
				<div class="page-header-content-inner">

					{{#if displayTitle}}
					<div class="page-title {{#if _theme._headings._isEnabled}}{{{_theme._headings._pageHeading}}}{{/if}}">
						<div class="page-title-inner h1" role="heading" tabindex="0" aria-level="1">
							{{#if _theme._headings._isEnabled}}{{#if_value_equals _theme._headings._pageHeading "magazine"}}<span><span>{{/if_value_equals}}{{/if}}
							{{{displayTitle}}}
							{{#if _theme._headings._isEnabled}}{{#if_value_equals _theme._headings._pageHeading "magazine"}}</span></span>{{/if_value_equals}}{{/if}}
						</div>
					</div>
					{{/if}}

					{{#if body}}
					<div class="page-body">
						<div class="page-body-inner">
							{{#if pageBody}}
								{{{a11y_text pageBody}}}
							{{else}}
								{{{a11y_text body}}}
							{{/if}}
						</div>
					</div>
					{{/if}}

					{{#if instruction}}
					<div class="page-instruction">
						<div class="page-instruction-inner">
							{{{a11y_text instruction}}}
						</div>
					</div>
					{{/if}}

				</div>
			</div>

			{{#if _theme._pageHeader._showScrollButton}}
			<div class="page-header-scroll-button">
				<button class="base page-header-scroll-button-inner icon icon-controls-down a11y-ignore" tabindex="-1" aria-hidden="true"></button>
			</div>
			{{/if}}

		</div>
	</div>
	{{else}}
	<div class="page-header">
		<div class="page-header-inner clearfix">

			<div class="page-header-content">
				<div class="page-header-content-inner">

					{{#if displayTitle}}
					<div class="page-title">
						<div class="page-title-inner h1" role="heading" tabindex="0" aria-level="1">
							{{{displayTitle}}}
						</div>
					</div>
					{{/if}}

					{{#if body}}
					<div class="page-body">
						<div class="page-body-inner">
							{{#if pageBody}}
								{{{a11y_text pageBody}}}
							{{else}}
								{{{a11y_text body}}}
							{{/if}}
						</div>
					</div>
					{{/if}}
					
				</div>
			</div>

		</div>
	</div>
	{{/if}}

</div>

{{#if _theme._pageFooter._isEnabled}}
	<div class="page-footer" style="background-color:{{_theme._pageFooter._backgroundColor}};">
		<div class="page-footer-inner clearfix"></div>
	</div>
{{/if}}
